.foooter {
    /* position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;   */
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#text{
    padding: 1em 0 0 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Icon */



        /* ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
            margin: -1em 0 2em -1em;
        }
     */
            ul.icons li {
                display: inline-block;
                padding: 1em  1em;
            }

            /* Icon */

