#grad1 {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -3;
    background-image: linear-gradient(#f5debcf1, #e6e6faf1);
}

#grad2 {
    height: auto;
    background-image: linear-gradient(white, black);
}
