{{template "base" .}}

{{define "main"}}

<div>
    <form class="form" action="/authentification" method="POST">
        <div class="text-center mb-5">
            <h1>Connexion à votre compte</h1>
        </div>
        <div class="text-center card border-light mb-3 m-5"
            style="background-color:transparent; max-width: 1400px; height: 450px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/images/logo_ynov.png">
                    <p style="text-align: center; text-indent: 110px;" class="mb-2 ">Le réseau social d'YNOV</p>
                    <p style="text-align: center; text-indent: 110px;">Le forum façonné pour les étudiants d'YNOV</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="text-center mb-3 m-5"><textarea name="Pseudo" placeholder="Pseudo"
                                style="background-color: transparent;" class="text-center"></textarea></div>
                        <div class="text-center mb-3"><input type="password" name="Password" placeholder="Mot de passe"
                                style="background-color: transparent;">
                        </div>
                        <div class="text-center mb-4">{{ .Content.Message }}</div>


                        <div>
                            <p class="text-center mb-3"><button class="btn btn-primary"><span>Connexion</span></button>
                            </p>
                            <div class="text-center mb-3"><a href="/createuser" class="button">Je n'ai pas de compte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
{{ end }}