{{define "base"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/_footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <div id="grad1"></div>
            {{ template "header" .}}

            <main>
                {{ template "main" . }}
            </main>

        </div>

    </div>
</body>
<footer id="footer" class="foooter" style="z-index: 7; border: 1px solid black;">

    <ul class="icons">
        Follow us :
        <li><img src="./images/Twitter.png" style="width: 30px; height:30px"></li>
        <li><img src="./images/Instagram.png" style="width: 30px; height:30px"></li>
        <li><img src="./images/Youtube.png" style="width: 30px; height:25px"></li>
        <li><img src="./images/Facebook.png" style="width: 30px; height:30px"></li>
    </ul>

    <div id="text">
        Forum :
        TQ, DR, CADM, AM.
    </div>

</footer>
{{end}}

</html>