{{template "base" .}}

{{define "main"}}
<main>
    <form class="form" action="/newcomment?Id={{.Content.Id}}" method="POST">
        <div class="text-center mb-4">
            <h1>Ajouter un commentaire</h1>
        </div>
        <div class="text-center mb-3"><textarea name="Title" placeholder="Titre" class="text-center"
                style="background-color: transparent"></textarea></div>
        <div class="text-center mb-1"><textarea name="Body" placeholder="Contenu" class="text-center"
                style="width: 1000px; height: 100px; background-color: transparent;"></textarea></div>
        <div class="text-center mb-4">{{.Content.ResponseMessage}}</div>

        <div>
            <p class="text-center mb-5"><button class="btn btn-primary">Ajouter</button></p>
        </div>

        <div class="text-center"><a href="/post?Id={{ .Content.Id }}" class="btn btn-primary">Retourner sur le post</a>
        </div>
    </form>

</main>
{{ end }}