{{template "base" .}}

{{define "main"}}
<form class="form" action="/createuser" method="POST">
    <div class="text-center mb-4">
        <h1>Création de compte</h1>
    </div>
    <div class="text-center mb-4">{{.Content.Message}}</div>
    <div class="text-center mb-1"><textarea name="FirstName" placeholder="Nom"
            style="background-color:transparent"></textarea></div>
    <div class="text-center mb-1"><textarea name="LastName" placeholder="Prénom"
            style="background-color:transparent"></textarea></div>
    <div class="text-center mb-1"><textarea name="Pseudo" placeholder="Pseudo"
            style="background-color:transparent"></textarea></div>
    <div class="text-center mb-2"><input type="password" name="Password" placeholder="Mot de passe"
            style="background-color:transparent"></div>
    <div class="text-center mb-3"><input type="date" name="Birthday" value="yyyy-mm-dd" min="1945-05-1" max="2030-12-31"
            style="background-color:transparent"></div>
    <div class="text-center mb-3"><textarea name="EmailAddress" placeholder="Adresse Mail d'YNOV"
            style="width: 250px; background-color:transparent"></textarea></div>


    <div>
        <p class="text-center mb-3"><button class="btn btn-primary"><span>Créer son compte !</span></button></p>
    </div>
</form>

<div class="text-center mb-2"><a href="/authentification" class="button">J'ai déjà un compte !</a></div>



{{ end }}