{{ define "header" }}
<!-- <meta http-equiv="refresh"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand" style="color: white;">FORUM</a>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ if .Session }}
                <div><a href="/profile" class="button nav navbar-nav navbar-right m-2">Mon Profile</a></div>

                <div><a href="/?Disconnect=yes" class="button nav navbar-nav navbar-right m-2">Se Déconnecter</a></div>

                <div><a href="/newpost?Id=0" class="button nav navbar-nav navbar-right m-2">Créer un poste</a></div>
                {{ else }}
                <div><a href="/authentification" class="button nav navbar-nav navbar-right m-2">Se connecter</a></div>

                <div><a href="/createuser" class="button nav navbar-nav navbar-right m-2">Creer un compte</a></div>
                {{ end }}

            </ul>
        </div>
    </div>
</nav>
{{ end }}