{{template "base" .}}

{{define "main"}}
<div>
    <div class="card-group">
        <div class="row">

            <form class="form" action="/" method="POST">
                <div class="btn-group-toggle text-center mb-4" data-toggle="buttons">
                    <label class="btn btn-secondary active">

                        <input value="Informatique" type="checkbox" name="Informatique">
                        <label for="Informatique">Informatique</label>

                        <input value="Sport" type="checkbox" name="Sport">
                        <label for="Sport">Sport</label>

                        <input value="Jeux_video" type="checkbox" name="Jeux_video">
                        <label for="Jeux_video">Jeux vidéo</label>

                        <input value="Gastronomie" type="checkbox" name="Gastronomie">
                        <label for="Gastronomie">Gastronomie</label>

                        <input value="Animaux" type="checkbox" name="Animaux">
                        <label for="Animaux">Animaux</label>

                        <input value="Ecologie" type="checkbox" name="Ecologie">
                        <label for="Ecologie">Ecologie</label>

                        <input value="Beaute" type="checkbox" name="Beaute">
                        <label for="Beaute">Beauté</label>

                        <input value="Divers" type="checkbox" name="Divers">
                        <label for="Divers">Divers</label>

                        <input value="Series" type="checkbox" name="Series">
                        <label for="Series">Séries</label>

                        <input value="Vetements" type="checkbox" name="Vetements">
                        <label for="Vetements">Vêtements</label>

                        <input value="WorstLikesPosts" type="checkbox" name="WorstLikesPosts">
                        <label for="WorstLikesPosts">Unliked posts</label>

                        <input value="MostLikedPosts" type="checkbox" name="MostLikedPosts">
                        <label for="MostLikedPosts">Liked posts</label>

                        <input value="Newest" type="checkbox" name="Newest">
                        <label for="Newest">Newest</label>

                        <input value="Oldest" type="checkbox" name="Oldest">
                        <label for="Oldest">Oldest</label>
                </div>
                <p class="text-center"><button class="btn btn-secondary">Confirmer</button></p>
            </form>

            {{ range $V := .Content }}
            <div class="card mb-4" style="background-color:transparent">
                <div class="card-body" style="width: auto;">
                    <div>
                        <h5 class="card-title" style="float: left;">

                            <p> <img src="{{.ProfilePicture}}" class="img-thumbnail rounded-circle"
                                    style="width:100px; height:100px;"> {{ .User }}</p>
                        </h5>
                        <div style="float: right;">
                            <h6>
                                <p><a href="/post?Id={{ $V.Id }}" class="btn btn-secondary">
                                        {{$V.Title}}</a> {{ $V.Date }}</p>
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ range $V.Categories }}{{.}}{{end }}</h6>

                            <div style="width: 1000px;">
                                <p class="card-text mb-2 text-truncate">{{ $V.Body }}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}