{{template "base" .}}

{{define "main"}}
<main>
  {{if .Session}}
  <form class="form" action="/newpost?Id={{.Content.Id}}" method="POST">
    <div class="text-center mb-4">
      <h1>Création de poste !</h1>
    </div>
    <div class="text-center mb-4">{{.Content.ResponseMessage}}</div>
    <div class="text-center mb-4"><textarea name="title" placeholder="Titre"
        style="width: 250px; background-color: transparent;" class="text-center"></textarea>
    </div>

    <div class="btn-group-toggle text-center mb-4" data-toggle="buttons">
      <label class="btn btn-secondary active" style="width: 400px;">
        <div class="row">
          <fieldset class="col-sm-5">
            <div>
              <input value="Informatique" type="checkbox" name="Informatique" class="mb-2">
              <label for="Informatique">Informatique</label>
            </div>
            <div>
              <input value="Sport" type="checkbox" name="Sport" class="mb-2">
              <label for="Sport">Sport</label>
            </div>
            <div>
              <input value="Jeux_video" type="checkbox" name="Jeux_video" class="mb-2">
              <label for="Jeux_video">Jeux vidéo</label>
            </div>
            <div>
              <input value="Gastronomie" type="checkbox" name="Gastronomie" class="mb-2">
              <label for="Gastronomie">Gastronomie</label>
            </div>
            <div>
              <input value="Ecologie" type="checkbox" name="Ecologie" class="mb-2">
              <label for="Ecologie">Ecologie</label>
            </div>
          </fieldset>
          <fieldset class="col-sm-7">
            <div>
              <input value="Animaux" type="checkbox" name="Animaux" class="mb-2">
              <label for="Animaux">Animaux</label>
            </div>
            <div>
              <input value="Divers" type="checkbox" name="Divers" class="mb-2">
              <label for="Divers">Divers</label>
            </div>
            <div>
              <input value="Beaute" type="checkbox" name="Beaute" class="mb-2">
              <label for="Beaute">Beauté</label>
            </div>
            <div>
              <input value="Series" type="checkbox" name="Series" class="mb-2">
              <label for="Series">Séries</label>
            </div>
            <div>
              <input value="Vetements" type="checkbox" name="Vetements" class="mb-2">
              <label for="Vetements">Vêtements</label>
            </div>
          </fieldset>
        </div>
      </label>
    </div>

    <div class="text-center mb-4"><textarea name="body" placeholder="Contenu"
        style="width: 1400px; height: 170px; background-color:transparent" class="text-center"></textarea></div>

    <div class="text-center mb-4">
      <p><button class="btn btn-primary">Créer !</button></p>
    </div>
  </form>

  {{ else }}

  <div class="text-center mb-4">Vous devez être connecté pour publier un poste</div>

  {{ end }}
</main>
{{ end }}