{{template "base" .}}

{{define "main"}}
<main>

    {{ if .Content.ModificationRights }}
    <div style="text-align: center;"><a href="/newpost?Id={{range .Content.Post}}{{.Id}}{{end}}"
            class="btn btn-primary mb-3">modifier le poste</a></div>
    {{ end }}

    {{ range .Content.Post }}
    <div class="mx-auto" style="width: 1450px;">
        <div class="card border-transparent m-1 mb-5" style="width: 90rem; background-color:transparent">
            <div class="card-body "></div>
            <div class="text-center mb-4">
                <div style="float:left;">
                    <h1>{{ .Title }}</h1>
                </div>
                {{ end }}
                {{ if .Session}}
                <form class="form" action="/post?Id={{range .Content.Post}}{{.Id}}{{end}}" method="POST">
                    <div>
                        <p style="text-align: right;"><button class="btn btn-primary">
                                <span class="fas fa-thumbs-up">
                                    {{ range .Content.Post}}
                                    {{.Like }}
                                    {{ end }} Like
                                </span>
                            </button></p>
                    </div>

                </form>
                {{ end }}
                {{ range .Content.Post }}
                <p style="text-align: right;"> {{ .User }} <img src="{{.ProfilePicture}}"
                        class="img-thumbnail rounded-circle" style="width:50px; height:50px;"> </p>
                <p style="text-align: right;">{{ .Date }}</p>

                <h4 class="text-break mb-3" style="text-align: center;">{{ .Body }}</h4>

            </div>
        </div>
    </div>
    </div>
    {{ end }}


    {{ if .Session }}
    <div style="text-align: center;">
        <h3><a href="/newcomment?Id={{range .Content.Post}}{{.Id}}{{end}}" class="fas fa-comment"> Ecrire un
                commentaire</a></h3>
    </div>

    {{ else }}
    <p style="text-align: center;">Vous devez vous connecter pour pouvoir partager des commentaires.</p>
    <div style="text-align: center;"><a class="btn btn-primary mb-5" href="/authentification">Me Connecter</a></div>
    {{ end }}

    {{ range .Content.Comments }}
    <div class="mx-auto" style="width: 1150px;">
        <div class="card mb-3" style="width: 70rem;">
            <div class="card-body">
                <p style="float:right">{{ .User }} {{ .Date }}</p>
                <p style="float:left">
                <h6 class="card-title">{{ .Title }}</h6>
                </p>
                <p class="card-text">
                    {{ .Body }}
                </p>
            </div>
        </div>
    </div>
    {{ end }}


</main>
{{ end }}