{{ template "base" . }}

{{ define "main" }}
<main>

        <form enctype="multipart/form-data" class="form" action="/profile" method="POST">
                <div class="row g-0">
                        <div class="col-md-4">
                                <p class="m-3">Photo de profil :</p>
                                <input class="m-3" type="file" name="myFile" />
                                <div id="image" class="text-center mb-4">
                                        <img src="{{ .Content.UserFromDB.ProfilePicture }}"
                                                class="img-thumbnail rounded-circle center" alt="No img detected">
                                </div>

                        </div>

                        <div class="col-md-8">
                                <div class="text-center mb-4">Prénom :</div>
                                <div class="text-center mb-4"><textarea name="FirstName"
                                                placeholder="{{ .Content.UserFromDB.FirstName }}"
                                                style="background-color: transparent;">{{ .Content.UserFromDB.FirstName }}</textarea>
                                </div>
                                <div class="text-center mb-4">Nom :</div>
                                <div class="text-center mb-4"><textarea name="LastName"
                                                placeholder="{{ .Content.UserFromDB.LastName }}"
                                                style="background-color: transparent;">{{ .Content.UserFromDB.LastName }}</textarea>
                                </div>
                                <div class="text-center mb-4">Pseudo :</div>
                                <div class="text-center mb-4"><textarea name="Pseudo"
                                                placeholder="{{ .Content.UserFromDB.Pseudo }}"
                                                style="background-color: transparent;">{{ .Content.UserFromDB.Pseudo }}</textarea>
                                </div>
                                <div class="text-center mb-4">Adresse Mail :</div>
                                <div class="text-center mb-4"><textarea name="EmailAddress"
                                                placeholder="{{ .Content.UserFromDB.EmailAddress }}"
                                                style="background-color: transparent;">{{ .Content.UserFromDB.EmailAddress }}</textarea>
                                </div>
                                <div class="text-center mb-4">Date de naissance :</div>
                                <div class="text-center mb-4"><input type="date" name="Birthday"
                                                data-date-format="DD-MMMM-YYYY"
                                                value="{{ .Content.UserFromDB.Birthday }}"
                                                style="background-color: transparent;"></div>
                        </div>


                </div>
                <div class="text-center mb-4">
                        <input type="submit" value="Submit" />
                </div>
        </form>

        <div>{{ .Content.Message }}</div>
</main>
{{ end }}